@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* .main {
  background-image: url();
} */

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

img {
  max-width: 50vh;
  height: auto;
  font-weight: bold;
}